<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"></a></li>
                <li><a href="/add-category">Add Category</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/add-category" method="POST">
        <input type="text" name="name">
        <input type="text" name="decription">
        <button type="submit">Add Category</button>
        
        </form>
    </main>
</body>
</html>